@charset "utf-8";

#e_conteudo .e_area_noticias .e_cont_noticias {
    display: -webkit-flex;
    font-size: 0;
    flex-wrap: wrap
}

#e_conteudo .e_area_noticias .e_cont_noticias.sw_slider {
    display: block;
    font-size: 0;
    flex-wrap: wrap
}

#e_conteudo .e_area_noticias .e_noticia {
    width: 30%;
    flex: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 10px
}

#e_conteudo .e_area_noticias .sw_item_slide .e_noticia {
    width: 100%;
    height: 100%;
    position: relative
}

#e_conteudo .e_area_noticias .e_noticia .e_cont_noticia {
    height: 100%;
    display: -webkit-flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background: #fff
}

#e_conteudo .e_area_noticias .e_noticia .e_area_img_noticia {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden
}

#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia {
    flex: 1;
    padding: 15px;
    display: -webkit-flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start
}

#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_titulo,
#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_descricao {
    width: 100%;
    margin: 0
}

#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_descricao {
    display: none;
    margin-bottom: auto
}

#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_categoria,
#e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_data {
    margin-top: auto
}

@media (min-width:800px) {
    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child {
        flex: 100%
    }

    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child .e_cont_noticia {
        flex-direction: unset
    }

    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child .e_area_img_noticia {
        padding-top: 20%;
        flex: 33%
    }

    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child .e_area_info_noticia {
        flex: 68%;
        padding: 2%
    }

    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child .e_area_info_noticia .e_titulo {
        font-size: 18px
    }

    #e_conteudo .e_area_noticias .lr1 .e_noticia:first-child .e_area_info_noticia .e_descricao {
        display: block
    }

    #e_conteudo .e_area_noticias .lr2 .e_noticia:nth-child(-n+2) {
        flex: 40%
    }

    #e_conteudo .e_area_noticias .lr2 .e_noticia:nth-child(-n+2) .e_area_info_noticia .e_descricao {
        display: block
    }
}

@media (max-width:800px) {
    #e_conteudo .e_area_noticias .e_noticia {
        width: 100%;
        flex: 100%
    }

    #e_conteudo .e_area_noticias .e_noticia .e_area_info_noticia .e_descricao {
        display: block
    }
}