@charset "UTF-8";

:root {
    --border-radius-itens-topo: 4px;
    --border-radius-menu: 4px
}

.p_topo {
    position: relative;
    z-index: 200;
    background: var(--cinza1)
}

.p_topo .p_cont_topo {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 10px 20px;
    padding: 10px
}

.p_topo .p_brasao {
    display: flex;
    align-items: center;
    justify-content: center
}

.p_topo .p_brasao img {
    width: 100%
}

.p_topo .p_item_topo .p_cont_item_topo {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 10px
}

.p_topo .p_icone_topo {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--cor1);
    background: var(--cinza3);
    border-radius: var(--border-radius-itens-topo)
}

.p_topo .p_busca .p_cont_busca {
    position: relative;
    flex-flow: unset;
    gap: 0;
    overflow: hidden
}

.p_topo .p_busca label {
    display: none
}

.p_topo .p_busca .p_campo_busca {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 0;
    font-size: 13px;
    color: var(--texto1);
    padding: 0 15px;
    padding-right: 50px;
    cursor: default
}

.p_topo .p_busca .p_campo_busca:hover {
    cursor: pointer
}

.p_topo .p_busca .p_campo_busca:focus {
    cursor: text
}

.p_topo .p_busca .p_btn_busca {
    width: 40px;
    height: 40px;
    background: var(--cor1);
    font-size: 12px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0
}

.p_topo .p_area_redes_sociais .p_cont_redes_sociais {
    gap: 3px
}

.p_topo .p_area_sessao_plenaria .p_cont_sessao_plenaria {
    position: relative
}

.p_topo .p_area_acesso_facil .p_cont_acesso_facil {
    align-items: stretch
}

.p_topo .p_area_acesso_facil .p_btn_menu {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #fff;
    border-radius: var(--border-radius-itens-topo);
    padding: 10px
}

.p_topo .p_area_acesso_facil .p_btn_menu .p_area_icone_btn {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor1)
}

.p_topo .p_area_acesso_facil .p_btn_menu .p_titulo {
    font-size: min(3.25vw, 15px)
}

.p_menu_topo {
    max-width: 100%;
    flex: 100%;
    display: flex;
    justify-content: center;
    cursor: default;
    position: relative
}

.p_menu_topo a {
    display: contents
}

.p_menu_topo>ul {
    width: 100%;
    max-width: var(--conteudo-interno);
    display: flex;
    position: relative
}

.p_menu_topo>ul>li {
    flex: auto;
    flex-shrink: 0;
    position: relative;
    z-index: 0
}

.p_menu_topo>ul>li.show {
    z-index: 1
}

.p_menu_topo.limitar_quantidade>ul>li {
    flex: auto
}

.p_menu_topo.limitar_caracteres>ul>li {
    min-width: 0;
    max-width: 20%
}

.p_menu_topo.limitar_caracteres .p_link_menu_topo .p_txt_link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.p_menu_topo.building>ul {
    display: flex !important;
    transition: 0s !important
}

.p_menu_topo.building>ul>li {
    flex: none !important;
    transition: 0s !important
}

.p_menu_topo .p_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden
}

.p_menu_topo li:not(.show) .p_dropdown {
    visibility: hidden;
    pointer-events: none
}

.p_menu_topo li:nth-last-child(-n+2) .p_dropdown {
    left: auto;
    right: 0
}

.p_menu_topo .p_dropdown .p_submenu ul {
    max-height: 50vh;
    overflow-y: auto
}

.p_link_menu {
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.p_menu_topo li.p_menu_todos {
    position: static
}

.p_menu_topo li.p_menu_todos .p_dropdown {
    left: 0;
    right: 0
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu {
    display: flex;
    flex-flow: column
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 10px
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li,
.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_submenu,
.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_submenu>ul {
    display: contents
}

.p_menu_topo li.p_menu_todos .p_filtro .p_cont_filtro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap
}

.p_menu_topo li.p_menu_todos .p_filtro label {
    flex-shrink: 0;
    cursor: pointer;
    overflow: visible
}

.p_menu_topo li.p_menu_todos .p_filtro input {
    flex: 1;
    max-width: 250px;
    cursor: pointer
}

.p_menu_topo li.p_menu_todos .p_filtro input:focus {
    cursor: text
}

.p_menu_topo {
    min-height: 60px;
    background: var(--cor1);
    font-family: var(--font1)
}

.p_menu_topo .p_link_menu_topo {
    height: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center
}

.p_menu_topo li.show .p_link_menu_topo {
    background: rgba(var(--rgb), .25)
}

.p_menu_topo .p_dropdown .p_submenu {
    background: var(--cor2);
    padding: 5px;
    transition: .4s ease
}

.p_menu_topo li:not(.show) .p_dropdown>.p_submenu {
    transform: translateY(-100%)
}

.p_link_menu {
    gap: .5em;
    font-size: 13px;
    color: #fff;
    transition: .25s ease
}

.p_menu_topo .p_submenu {
    min-width: 250px;
    border-bottom-left-radius: var(--border-radius-menu);
    border-bottom-right-radius: var(--border-radius-menu)
}

.p_menu_topo .p_submenu .p_link_submenu {
    min-height: 45px;
    padding: 10px 15px
}

.p_menu_topo .p_submenu li:not(:last-child) .p_link_submenu {
    border-bottom: solid 1px rgba(var(--rgb), .15)
}

.p_menu_topo .p_submenu a:hover .p_link_submenu {
    padding-left: 20px;
    padding-right: 10px;
    background: var(--cor1)
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu {
    padding: 10px;
    gap: 10px
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul {
    gap: 0 5%
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_link_menu {
    width: 250px;
    min-height: 45px;
    padding: 10px 15px;
    border-bottom: solid 1px rgba(var(--rgb), .15)
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li:has(+li .p_titulo_submenus) .p_link_menu_todos:not(.p_titulo_submenus),
.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_submenu li:last-child .p_link_menu {
    margin-bottom: 10px
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_titulo_submenus {
    background: rgba(var(--rgb), .25);
    border-bottom-width: 2px
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_link_submenu {
    background: rgba(var(--rgb), .15)
}

.p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li a:hover .p_link_menu {
    padding-left: 20px;
    padding-right: 10px;
    background: var(--cor1)
}

.p_menu_topo li.p_menu_todos .p_filtro {
    background: rgba(var(--rgb), .4);
    border-radius: 2px
}

.p_menu_topo li.p_menu_todos .p_filtro .p_cont_filtro {
    padding: 10px;
    gap: 10px
}

.p_menu_topo li.p_menu_todos .p_filtro label {
    font-size: 13px;
    color: #fff
}

.p_menu_topo li.p_menu_todos .p_filtro input {
    height: 30px;
    padding: 0 15px;
    background: #fff;
    border: 0;
    border-radius: 2px
}

.p_menu_topo *::-webkit-scrollbar {
    background: rgba(var(--rgb), .15)
}

.p_menu_topo *::-webkit-scrollbar-thumb {
    background: rgba(var(--rgb), .5)
}

@media (max-width:1000px) {
    .p_menu_topo ul>li.p_menu_todos {
        width: 100%;
        min-width: auto;
        max-width: none
    }

    .p_menu_topo li.p_menu_todos .p_link_menu_topo {
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px
    }

    .p_menu_topo li.p_menu_todos .p_link_menu_topo .p_txt_link {
        display: block
    }
}

@media (max-width:600px) {
    .p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul {
        flex-flow: column;
        padding-bottom: 0;
        padding-right: 5px
    }

    .p_menu_topo li.p_menu_todos .p_dropdown>.p_submenu>ul li .p_link_menu {
        width: 100%
    }
}