@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'
}

input,
select,
button {
    font-family: 'Montserrat'
}

* {
    outline: none;
    word-break: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.trans {
    font-size: 0;
    color: transparent !important
}

.e_trans {
    display: none !important
}

#conteudo_esquerda {
    width: 100% !important;
    padding-bottom: 10px;
    padding-top: 20px;
    min-height: 40vh
}

#cont_conteudo_site_interna {
    width: 100% !important
}

#e_centralizar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

#vlibras_include div[vw].enabled {
    transform: translateY(5vh)
}

a,
li,
ol,
ul {
    border: none;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin: 0;
    padding: 0
}

a:active,
a:link,
a:hover,
a:focus {
    text-decoration: inherit
}

#e_cont_topo img,
#e_conteudo img,
#e_cont_rodape img {
    border: 0 !important;
    margin: 0
}

#e_cont_topo,
#e_cont_topo *,
#e_cont_topo *:before,
#e_cont_topo *:after,
#e_conteudo,
#e_conteudo *,
#e_conteudo *:before,
#e_conteudo *:after,
#e_cont_rodape,
#e_cont_rodape *,
#e_cont_rodape *:before,
#e_cont_rodape *:after {
    box-sizing: border-box
}

.unselect *::selection,
.unselect *::-webkit-selection,
.unselect *::-moz-selection,
.unselect *::-ms-selection {
    background: transparent;
    color: inherit
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: 10e10s
}

body *::-webkit-scrollbar-track {
    border-radius: 3px
}

body *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: rgba(133, 144, 159, .1);
    margin: 5px;
    border-radius: 3px
}

body *::-webkit-scrollbar-thumb {
    background: #85909f;
    border-radius: 2px
}

body *::-webkit-scrollbar-thumb:hover {
    background: #6b7583
}

img {
    border: 0;
    margin: 0
}

img.e_img {
    position: absolute;
    top: 0;
    left: 0;
    object-position: center 25%;
    transition: .35s ease
}

a:hover img.e_img,
.e_hov:hover img.e_img {
    transform: scale(1.15)
}

.e_titulo {
    line-height: 1.4em;
    max-height: 4.2em;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #556679;
    font-weight: 600;
    overflow: hidden;
    margin: 5px 0;
    transition: .1s ease
}

a:hover .e_titulo {
    color: #FFFF
}

.e_descricao {
    line-height: 1.5em;
    max-height: 6em;
    font-family: 'Montserrat';
    font-size: 13px;
    color: #5b6872;
    overflow: hidden;
    margin: 5px 0;
    font-weight: 300
}

.e_info {
    font-family: 'Montserrat';
    font-size: 12px;
    color: #5b6872;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0
}

.e_info .swfa {
    margin-right: .25em
}

.e_btn_link {
    height: 30px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 12px;
    color: #4277d7;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: solid 1px #83bcf9;
    border-radius: 30px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    background: #e9eff5;
    transition: .15s ease
}

.e_btn_link .swfa {
    width: 26px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -13px;
    background: #84aefa;
    font-size: 12px;
    color: #fff;
    border-radius: 100%;
    visibility: hidden;
    transform: translateX(-100%);
    transition: .15s ease
}

a:hover .e_btn_link {
    background: #4277d7;
    border-color: #4277d7;
    color: #fff;
    padding-left: 35px
}

a:hover .e_btn_link .swfa {
    transform: translateX(0);
    visibility: visible
}

.e_categoria {
    max-width: 150px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 0 10px;
    font-size: 11px;
    color: #fff;
    letter-spacing: .035em;
    text-transform: uppercase;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.e_titulo:first-child,
.e_descricao:first-child,
.e_info:first-child {
    margin-top: 0
}

.e_titulo:last-child,
.e_descricao:last-child,
.e_info:last-child {
    margin-bottom: 0
}

.e_area_redes_sociais .e_rede_social {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    overflow: hidden;
    border-radius: 2px
}

.e_area_redes_sociais .e_rede_social img {
    width: 100%;
    height: 200%;
    transition: .25s ease
}

.e_area_redes_sociais .e_rede_social:hover img {
    transform: translateY(-50%)
}

.e_shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .015);
    transition: .35s ease
}

a:hover .e_shadow,
.e_hov:hover .e_shadow,
.e_hov:focus-within .e_shadow {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(69, 113, 126, .2)
}

.e_conteudo_modulo .e_conteudo_interno {
    padding: 20px 10px
}

.e_conteudo_modulo.pdt .e_conteudo_interno {
    padding-top: 35px
}

.e_conteudo_modulo.pdb .e_conteudo_interno {
    padding-bottom: 35px
}

.e_area_titulo_modulo {
    font-size: 0;
    padding: 0 10px;
    margin-bottom: 5px;
    display: -webkit-flex;
    align-items: center
}

.e_area_titulo_modulo a {
    display: contents
}

.e_area_titulo_modulo .e_titulo_modulo {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    display: -webkit-flex;
    align-items: center;
    font-size: 22px;
    color: #69788e;
    letter-spacing: -.01em;
    padding-right: 10px
}

.e_area_titulo_modulo .e_titulo_modulo .swfa {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #b33259;
    border-radius: 100%;
    font-size: 15px;
    color: #fff;
    margin-right: 7px;
    flex-shrink: 0
}

.e_area_titulo_modulo.m2 {
    text-align: center;
    align-items: center;
    justify-content: center
}

.e_area_titulo_modulo.m2 .e_titulo_modulo {
    font-size: 15px;
    color: #69788e
}

.e_link_ver_mais {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    flex-shrink: 0;
    transition: .25s ease
}

.e_link_ver_mais .swfa {
    width: 20px;
    height: inherit;
    line-height: inherit;
    border-radius: 3px;
    background: #f6bcce;
    font-size: 10px;
    color: #b4345a;
    vertical-align: middle;
    transition: .3s ease
}

.e_link_ver_mais .e_txt_link {
    max-width: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 10px;
    color: #69788e;
    text-transform: uppercase;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .025em;
    transition: .25s ease
}

a:hover .e_link_ver_mais .swfa {
    transform: rotate(90deg)
}

a:hover .e_link_ver_mais .e_txt_link {
    max-width: 100px;
    padding-left: 8px;
    padding-right: 15px
}

.e_area_acesso_facil {
    position: relative;
    z-index: 199
}

.e_area_acesso_facil *::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

.e_area_acesso_facil *::-webkit-scrollbar-thumb {
    background: #0A3D7A
}

.e_area_acesso_facil .e_cont_acesso_facil {
    display: -webkit-flex;
    gap: 5px;
    position: relative;
    cursor: default
}

.e_area_acesso_facil .e_menu_acesso_facil {
    flex: auto;
    display: inline-block;
    vertical-align: middle;
    display: -webkit-flex;
    align-items: center;
    cursor: pointer
}

.e_area_acesso_facil .e_menu_acesso_facil .e_btn_acesso_facil {
    flex: 1;
    height: 35px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 15px;
    background: #f1f4f8;
    font-size: 13px;
    color: #FF8E00;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .2s ease
}

.e_area_acesso_facil .e_menu_acesso_facil.ativo .e_btn_acesso_facil {
    background: #b33259;
    color: #fff
}

.e_area_acesso_facil .e_menu_acesso_facil .e_dropdown_acesso_facil {
    border-radius: 0 0 2px 2px;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    transition: .25s ease
}

.e_area_acesso_facil .e_menu_acesso_facil.ativo .e_dropdown_acesso_facil {
    pointer-events: all;
    visibility: visible
}

.e_area_acesso_facil .e_menu_acesso_facil .e_area_links_acesso_facil {
    max-height: 250px;
    overflow-y: auto;
    background: #0A3D7A;
    
    padding: 5px;
    transition: .4s ease
}

.e_area_acesso_facil .e_menu_acesso_facil .e_link_acesso_facil .e_cont_link {
    padding: 15px 20px;
    padding-left: 10px;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, .075);
    border-radius: 2px;
    position: relative;
    transition: padding .4s cubic-bezier(.51, -.44, 0, 1.85), background .1s ease-in-out
}

.e_area_acesso_facil .e_menu_acesso_facil .e_link_acesso_facil :hover .e_cont_link {
    padding-left: 20px;
    padding-right: 10px;
    background: #0A3D7A
}

body .sw_slider_seta {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #0A3D7A;
    border: 0;
    opacity: 1;
    transition: .2s ease
}

body .sw_slider_seta .swfa {
    font-size: 16px;
    line-height: inherit
}

body .sw_slider_seta:hover {
    opacity: 1;
    transition: .1s
}

body .sw_slider_seta:active {
    background: #0A3D7A;
    color: #fff
}

body .sw_slider_seta.sw_slider_anterior {
    left: 0;
    padding-right: 2px;
    box-shadow: 4px 0 5px rgba(54, 61, 75, .15)
}

body .sw_slider_seta.sw_slider_posterior {
    right: 0;
    padding-left: 2px;
    box-shadow: -4px 0 5px rgba(54, 61, 75, .15)
}

body .sw_slider_lmt.limit_l .sw_slider_anterior,
body .sw_slider_lmt.limit_r .sw_slider_posterior {
    opacity: .6;
    background: #9ca5af;
    color: #fff
}

body .sw_slider_lmt.limit_l.limit_r .sw_slider_seta {
    opacity: 0;
    visibility: hidden
}

body .sw_slider_lmt .sw_area_thumbnails {
    padding: 0;
    margin-top: 5px
}

body .sw_slider_lmt .sw_area_thumbnails .sw_thumbnail {
    width: 6px;
    height: 6px
}

body .sw_slider_lmt .sw_area_thumbnails .sw_thumbnail_ativo {
    background: #0A3D7A
}

.e_cont_barra {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap
}

.e_conteudo_interno {
    width: 100%;
    max-width: 1200px;
    display: table;
    margin: 0 auto
}

.e_itn.itn_area_login_internauta {
    background: #FF8E00;
    border: 0;
    padding: 0;
    z-index: 199
}

.e_itn.itn_area_login_internauta .itn_conteudo_interno_login {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat'
}

.e_itn.itn_area_login_internauta .itn_cont_login:before {
    background: #FF8E00
}

.e_itn.itn_area_login_internauta .itn_cont_login:nth-child(2):before {
    display: none
}

.e_itn.itn_area_login_internauta .itn_cont_login .itn_info_login,
.e_itn.itn_area_login_internauta .itn_cont_login .itn_info_logado {
    display: none
}

.e_itn.itn_area_login_internauta .itn_btn_login {
    height: 26px;
    padding: 0 10px;
    display: -webkit-inine-flex;
    align-items: center;
    color: #fff
}

.e_itn.itn_area_login_internauta .itn_btn_login .swfa {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    box-shadow: 0 0 10px rgba(32, 35, 37, .2);
    background: #FF8E00;
    border-radius: 100%;
    margin-right: 8px
}

.e_itn.itn_area_login_internauta .itn_btn_login:hover {
    background: none;
    filter: brightness(1.15)
}

.e_itn.itn_area_login_internauta .itn_login_internauta .itn_area_img_internauta {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(32, 35, 37, .2);
    background: #FF8E00;
    font-size: 14px
}

.e_itn.itn_area_login_internauta:hover .itn_login_internauta .itn_area_img_internauta {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px
}

.e_itn.itn_area_login_internauta .itn_btn_topo {
    height: 26px;
    padding: 0 10px;
    display: -webkit-inline-flex;
    align-items: center;
    color: #fff
}

@media(min-width:800px) {
    .e_itn.itn_internauta_logado .itn_btn_login_internauta {
        height: 26px;
        padding: 0 10px;
        display: -webkit-inline-flex;
        align-items: center;
        color: #fff;
        line-height: normal;
        background: #FF8E00
    }

    .e_itn.itn_internauta_logado .itn_btn_login_internauta:hover {
        filter: brightness(1.1) contrast(1.05)
    }

    .e_itn.itn_internauta_logado .itn_btn_login_internauta .swfa {
        color: #fff
    }
}

@media(max-width:800px) {
    .e_itn.itn_area_login_internauta .itn_login_internauta .itn_area_botoes_internauta .itn_cont_botoes_internauta {
        width: 150px
    }
}

#e_cont_topo {
    width: 100%;
    float: left;
    position: relative;
    z-index: 200;
    font-size: 0;
    background: #fff linear-gradient(to right, #fff 50%, #f1f4f8 50%) no-repeat;
    background-size: 100% 65px;
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, .035))
}

#e_cont_topo #e_banner_topo_dinamico {
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    position: relative;
    padding-left: 295px;
    padding-right: 15px
}

#e_cont_topo #e_banner_topo_dinamico #e_banner_topo_dinamico_clique {
    width: 240px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -40px
}

#e_cont_topo .e_area_acessibilidade {
    max-width: 300px;
    height: 0;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_titulo_acessibilidade {
    display: none
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_btn_acessibilidade {
    background: none;
    box-shadow: none;
    color: #fff;
    margin: 7px 5px
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_btn_acessibilidade:active {
    transform: scale(.9)
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_btn_acessibilidade:after {
    background: #dd4c78
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_btn_acessibilidade:before {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(32, 35, 37, .2);
    background: #bd365f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 100%;
    opacity: 0;
    transform: scale(.85);
    transition: .25s cubic-bezier(.44, .37, .04, 1.43)
}

#e_cont_topo .e_area_acessibilidade #sw_acessibilidade .sw_btn_acessibilidade:hover:before {
    opacity: 1;
    transform: scale(1.35)
}

.itn_internauta_logado~#e_cont_topo .e_area_acessibilidade {
    left: 40px;
    right: auto
}

#e_cont_topo .e_menu_topo>ul {
    width: 100%;
    display: table;
    margin: auto;
    position: relative;
    z-index: 100;
    padding-left: 35px
}

#e_cont_topo .e_menu_topo>ul>li {
    max-width: 100px;
    height: 65px;
    display: table-cell;
    vertical-align: middle;
    flex: 50%;
    position: relative;
    cursor: default
}

#e_cont_topo .e_menu_topo>ul>li>a {
    width: 100%;
    display: table;
    height: inherit
}

#e_cont_topo .e_menu_topo ul li .e_link_menu {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 2px;
    font-size: 13px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .2s
}

#e_cont_topo .e_menu_topo ul li .e_link_menu div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px
}

#e_cont_topo .e_menu_topo ul li:hover .e_link_menu {
    background: rgba(255, 255, 255, .35);
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    color: #b13258
}

#e_cont_topo .e_menu_topo ul li .e_submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: none !important;
    visibility: hidden;
    overflow: hidden;
    z-index: 0;
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, .075))
}

#e_cont_topo .e_menu_topo ul li:nth-last-child(2) .e_submenu {
    left: auto;
    right: 0
}

#e_cont_topo .e_menu_topo ul li:hover .e_submenu {
    visibility: visible;
    z-index: 1
}

#e_cont_topo .e_menu_topo ul li .e_submenu>ul {
    min-width: 240px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 4px;
    background: #e7eaef;
    border-radius: 0 0 4px 4px;
    transform: translateY(-100%);
    transform-origin: top;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    transition: .3s ease-in-out
}

#e_cont_topo .e_menu_topo ul li:hover .e_submenu>ul {
    transform: translateY(0)
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li .e_link_submenu {
    padding: 15px;
    font-size: 12px;
    color: #56565b;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: solid 1px rgba(0, 0, 0, .05);
    position: relative;
    transition: padding .4s cubic-bezier(.51, -.44, 0, 1.85), background .1s ease-in-out
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li:last-child .e_link_submenu {
    border-bottom: 0
}

#e_cont_topo .e_menu_topo ul li .e_submenu ul li:hover .e_link_submenu {
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    background: #bd365f
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos {
    position: static;
    cursor: pointer
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu {
    font-size: 14px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu hr {
    width: 17px;
    height: 3px;
    margin: 4px auto;
    border: 0;
    background: #b13258;
    transform-origin: right;
    border-radius: 3px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_link_menu hr {
    animation: menu_todos infinite .35s ease
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_link_menu hr:nth-child(2) {
    transform: scalex(1.35)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_link_menu hr:nth-child(2) {
    animation-delay: .2s;
    animation-duration: .38s
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_link_menu hr:nth-child(3) {
    animation-delay: .1s;
    animation-duration: .3s
}

@keyframes menu_todos {
    50% {
        transform: scalex(.5)
    }
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 0;
    filter: drop-shadow(0 15px 10px rgba(0, 0, 0, .1))
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_menu_todos {
    visibility: visible;
    z-index: 1
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos .e_cont_menu_todos {
    height: 500px;
    height: 40vh;
    background: #e7eaef;
    border-radius: 0 0 2px 2px;
    position: relative;
    transform: translateY(-100%);
    transition: .4s ease-in-out
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos:hover .e_menu_todos .e_cont_menu_todos {
    transform: translateY(0)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos .e_cont_barra_menu_todos {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: auto
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 0 20px;
    background: none
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li {
    width: 250px;
    display: block
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_cabecalho_links_menu_todos {
    line-height: 16px;
    background: rgba(0, 7, 39, .05);
    padding: 22px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #56565b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_cabecalho_links_menu_todos .swfa {
    height: 20px;
    line-height: 20px;
    color: inherit;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -10px;
    color: #b13258
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_link_menu_todos {
    padding: 15px;
    font-size: 13px;
    color: #56565b;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px rgba(0, 0, 0, .05);
    transition: padding .4s cubic-bezier(.51, -.44, 0, 1.85), background .1s ease-in-out
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li a:hover .e_link_menu_todos {
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    background: #bd365f
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_link_menu_todos .swfa {
    width: 20px;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 4px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos span {
    max-width: 147px;
    max-width: calc(100% - 20px);
    display: inline-block;
    vertical-align: top
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_titulo_subitens_menu {
    color: #56565b;
    background: rgba(0, 7, 39, .05);
    border-bottom: solid 1px rgba(0, 0, 0, .05);
    margin-top: 20px;
    font-weight: 700
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_subitem_menu {
    background: rgba(0, 7, 39, .025)
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_subitem_menu div {
    padding-left: 5px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li .e_ultimo_subitem_menu {
    margin-bottom: 10px
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li:first-child .e_cabecalho_links_menu_todos {
    margin-top: 0
}

#e_cont_topo .e_menu_topo ul li.e_li_menu_todos .e_menu_todos ul li:nth-child(2) .e_titulo_subitens_menu {
    margin-top: 0
}

#e_cont_topo .e_conteudo_topo {
    height: 65px;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

#e_cont_topo .e_area_busca {
    width: 210px;
    position: relative;
    z-index: 0
}

#e_cont_topo .e_area_busca .e_campo_busca {
    width: 100%;
    height: 35px;
    background: #f1f4f8;
    border: solid 1px #f1f4f8;
    border-radius: 20px;
    padding: 0 20px;
    padding-right: 45px;
    font-size: 13px;
    color: #3a586c;
    transition: .1s ease
}

#e_cont_topo .e_area_busca .e_campo_busca::placeholder {
    font-size: 12px;
    color: #8b94a0
}

#e_cont_topo .e_area_busca .e_campo_busca:hover {
    background: #f3f5f7;
    border-color: #e0e4e9;
    cursor: pointer
}

#e_cont_topo .e_area_busca .e_campo_busca:focus {
    background: #fff;
    border-color: #e0e4e9;
    cursor: text
}

#e_cont_topo .e_area_busca .e_btn_busca {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    font-size: 12px;
    color: #969ea6;
    cursor: pointer;
    transition: .1s
}

#e_cont_topo .e_area_busca .e_campo_busca:focus~.e_btn_busca {
    color: #b13258
}

#e_cont_topo .e_area_acesso_facil {
    z-index: 1;
    display: -webkit-flex;
    align-self: stretch
}

#e_cont_topo .e_area_acesso_facil .e_cont_acesso_facil {
    min-width: 340px;
    position: static
}

#e_cont_topo .e_area_acesso_facil .e_menu_acesso_facil .e_dropdown_acesso_facil {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, .1))
}

#e_cont_topo .e_area_acesso_facil .e_menu_acesso_facil .e_area_links_acesso_facil {
    transform: translateY(-100%)
}

#e_cont_topo .e_area_acesso_facil .e_menu_acesso_facil.ativo .e_area_links_acesso_facil {
    transform: translateY(0)
}

#e_conteudo {
    width: 100%;
    float: left;
    background: #eaeff3
}

#e_conteudo .swop_capa_banner {
    background: #e3e8f0
}

#e_conteudo .p_area_banner {
    max-width: 1400px;
    background: inherit;
    padding: 20px 0
}

#e_conteudo .p_area_banner.pdt {
    padding-top: 25px
}

#e_conteudo .p_area_banner.pdb {
    padding-bottom: 25px
}

#e_conteudo .swop_capa_banner:first-child .p_area_banner {
    padding-top: 0;
    padding-bottom: 0
}

#e_conteudo .p_area_banner_meio {
    padding: 10px 0;
    margin: 1% 0;
    margin-top: 1.5%;
    overflow: hidden
}

#e_conteudo .p_area_banner_meio img {
    width: 100%;
    height: auto;
    max-width: 1160px;
    display: block;
    margin: 0 auto !important;
    border: none !important;
    object-fit: cover
}

#e_conteudo .p_area_banner_meio .e_conteudo_interno {
    overflow: hidden;
    max-width: 1160px
}

#e_conteudo .p_area_banner_meio .e_conteudo_interno * {
    height: 30.17vw;
    max-height: 350px
}

#e_conteudo .p_area_banner_meio.pdt .e_conteudo_interno {
    padding-top: 35px
}

#e_conteudo .p_area_banner_meio.pdb .e_conteudo_interno {
    padding-bottom: 35px
}

#e_cont_rodape {
    width: 100%;
    float: left;
    background: #ff7300;
    font-size: 0
}

#e_cont_rodape .e_conteudo_rodape {
    padding: 20px;
    display: -webkit-flex;
    justify-content: space-between;
    gap: 15px;
    text-align: center
}

#e_cont_rodape .e_area_imagens_rodape {
    padding-top: 2%
}

#e_cont_rodape .e_area_imagens_rodape img {
    max-width: 100%;
    transition: .15s ease
}

#e_cont_rodape .e_area_imagens_rodape a:hover img {
    transform: translateY(-2px);
    filter: drop-shadow(0 5px 3px #FF8E00)
}

#e_cont_rodape .e_area_info_rodape {
    background: #FF8E00;
    padding: 30px 20px
}

#e_cont_rodape .e_area_info_rodape .e_info_rodape {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center
}

#e_cont_rodape .e_area_info_rodape .e_titulo {
    font-size: 15px;
    color: #FFF;
    margin: 10px 0
}

#e_cont_rodape .e_area_info_rodape .e_info {
    font-size: 15px;
    color: #fff;
    font-style: normal;
    font-size: 13px;
    display: block
}

#e_cont_rodape .e_area_info_rodape .e_info a {
    display: inline-block;
    transition: .15s ease
}

#e_cont_rodape .e_area_info_rodape .e_info a:hover {
    transform: translateX(5px);
    text-decoration: underline
}

#e_cont_rodape .sw_area_info_sistema {
    background: none;
    color: #fff;
    background: #FF8E00;
    border-color: transparent;
    border-top: solid 3px #FF8E00;
    padding: 20px;
    font-family: inherit
}

#e_cont_rodape .e_area_instar {
    font-size: 13px;
    color: #e87ea0;
    text-align: center
}

#e_cont_rodape .e_area_instar .e_conteudo_interno {
    height: 90px;
    line-height: 90px;
    position: relative;
    background: none
}

#e_cont_rodape .e_area_instar img {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 30px
}

#e_cont_rodape .e_area_instar a:hover strong {
    color: #fff
}

#e_cont_rodape .e_area_instar a:hover img {
    filter: brightness(5)
}

@media (max-width:1000px) {
    body *::-webkit-scrollbar {
        width: 6px;
        height: 6px
    }
}

.sw_menu_internas .sw_item_menu.ativo .sw_cont_item_menu,
.sw_menu_internas .sw_item_menu :hover .sw_cont_item_menu {
    background: #B33259;
    color: #fff
}

.sw_menu_internas .sw_item_menu.ativo .swfa,
.sw_menu_internas .sw_item_menu :hover .swfa {
    background: #a0284c;
    color: #fff;
    transform: rotate(0)
}

body #srv_conteudo .srv_area_servico .srv_titulo_servico .swfa {
    background: #B33259
}