body {
    padding: 0;
    margin: 0
}

#topo {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 0;
    border-top: 0;
    box-sizing: border-box
}

#brasao {
    width: auto;
    height: auto;
    max-width: 90%;
    display: table;
    margin: 20px auto
}

#brasao img {
    width: 100%;
    height: auto;
    float: left
}

.busca_mobile {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.e_cor_label {
    display: none;
    color: #FFF
}

.e_busca_mobile {
    float: left;
    width: 100%;
    height: 40px;
    outline: none;
    background-image: url(../images/busca_mobile.png);
    background-position: center right 10px;
    background-repeat: no-repeat;
    font-size: 11px;
    padding: 15px;
    background-color: #f1f4f8;
    border: solid 1px #f1f4f8;
    border-radius: 20px;
    color: #444;
    font-family: "Montserrat"
}

.e_busca_mobile:focus {
    background: #fff;
    border-color: #e0e4e9
}

#contencao_menu_mobile_p {
    width: 100%
}

.rede_social_mobile {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    color: #333;
    font-size: 11px;
    text-align: center
}

.rede_social_mobile span {
    display: none
}

.icone_rede_social {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 3px;
    border-radius: 100%;
    overflow: hidden
}

.icone_rede_social img {
    width: 100%;
    height: 200%
}

#rodape_mobile {
    width: 90%;
    height: auto;
    margin-top: 0;
    float: left;
    display: block;
    margin-left: 0;
    padding: 25px 5%;
    border-radius: 0 !important
}